// color
$primary: hsl(300, 43%, 22%);
$secondary: hsl(333, 80%, 67%);
$dark-grayish-primary: hsl(303, 10%, 53%);
$light-grayish-primary: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// typography
$base-font-size: 15px;
$font-regular: 400;
$font-bolder: 500;
$font-bold: 700;
$font-boldest: 800;

// padding & margin
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-radius: 0.5rem;
